* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.grid {
    margin-left: 8.333%;
    margin-right: 8.333%;
    width: 83.33333%;
}

p {
    font-size: 85%;
    color: #6C6969;
    line-height: 16.41px;
}

span {
    font-size: 14px;
    color: #660027;
    line-height: 16.41px;
}

button {
    background-color: #660027;
    border: 2px solid #660027;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

#body_contato {
    height: 1000px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Inicio do Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.apoio_logo {
    height: 70px;
}

.apoio_logo img {
    height: 100%;
}

.nav_header {
    width: 26.4166%;
    display: flex;
    justify-content: space-between;
}

.nav_header a {
    text-decoration: unset;
    color: black;
    font-size: 14px;
}


/* Inicio da Main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    width: 100%;
}

section h1 {
    color: #660027;
    font-size: 200%;
    margin-top: 24px;
    margin-bottom: 17px;
}

.blocos_visuais {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    margin-bottom: 72px;
}

article {
    width: 24%;
    /* height: 28.5vw; */
    height: 110%;
    border: 1px solid #9E9B9B;
    border-radius: 4px;
}

article img {
    width: 100%;
}

article p {
    margin-left: 11.2%;
    margin-top: 9.23%;
    margin-right: 10%;
}

article h2 {
    color: #660027;
    font-size: 24px;
    margin-top: 13.84%;
    margin-left: 11.2%;
}

.botao_saiba-mais {
    height: 42px;
    width: 51.2%;
    margin-top: 11.15%;
    margin-left: 11.2%;
    margin-bottom: 14.26%;
    border: 2px solid #660027;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Incio do footer */

footer {
    width: 100%;
    height: 120px;
    background-color: #660027;
    display: flex;
    justify-content: center;
}

.apoio_footer {
    width: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apoio_footer span {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* Pagina de contato */

#contato {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
}

#bloco_contato_input {
    width: 65%;
    height: 700px;
    display: flex;
    justify-content: center;
}

#bloco_apoio_infos {
    height: 700px;
    width: 33.333%;
    background-color: #660027;
    display: flex;
    align-items: center;
    justify-content: center;
}

section input {
    width: 51.22%;
    height: 6%;
    padding-left: 2%;
    font-size: 16px;
    border: 1px solid #660027;
    border-radius: 4px;
}

.estrutura_input {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.3px solid #660027;
    border-radius: 5px;
}

.estrutura_input span {
    font-size: 14px;
    color: #6C6969;
    line-height: 16.41px;
    width: 51.22%;
    margin-top: 2.8%;
    margin-bottom: 0.5%;
}

#campo_mensagem {
    height: 18%;
}

.apoio_botao {
    width: 51.28%;
    height: 6%;
    margin-top: 5.8%;
}

.apoio_botao button {
    width: 30.50%;
    height: 100%;
}

#apoio_infos {
    width: 58.5%;
    height: 11.14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#apoio_infos span {
    text-align: center;
    color: white;
}